
.custom-button {
    display: inline-block;
    background-color: #fff;
    border: solid 2px #a832a4;
    border-radius: 5px;
    margin: 10px;

    &:hover {
        border: 2px solid #5b00bd;
    }
    &:focus {
        border: 2px solid #5b00bd;
    }
    &:active {
        border: 2px solid #5b00bd;
    }
}

.custom-button-icon {
    display: inline-block;
    width: min-content;
    margin: 10px;
}